PORT=3004
NODE_ENV=development
RABBITMQ_URLS=amqp://rabbitmq:rabbitmq123@localhost:5672
RABBITMQ_QUEUE=orders_queue
DATABASE_URL=postgresql://postgres:postgres123@localhost:5433/ordersdb?schema=public
